* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 3fr 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section aside"
    "article aside"
    "footer footer";
    padding: 1.5rem;
    gap: 1.5rem;
    height: 100vh;
    background-color: black;
}

.header {
    grid-area: header;
    background-color: #546cd6;
    color: white;
    text-align: center;

}

.nav {
    grid-area: nav;
    background-color: #55bac6;
    color: white;
    text-align: center;

}

.section {
    grid-area: section;
    background-color: #f8d246;
    color: white;
    text-align: center;

}

.aside {
    grid-area: aside;
    background-color: white;
    text-align: center;

}
.article {
    grid-area: article;
    background-color: #ea7e61;
    text-align: center;

}
.footer {
    grid-area: footer;
    background-color: #546cd6;
    color: white;
    text-align: center;

}

@media (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "aside"
        "article"
        "footer";
    }
}